@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg-base;

  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

:root {
  font-size: 20px;
}
