@import "src/styles/templates";

.onlineBadge {
  @extend %flexCenter;

  display: inline-flex;
  font-size: 1em; // 1em = 20px
  gap: .5em;

  span.text {
    strong.digit {

    }
  }

  svg {
    width: .5em;
    animation: onlineCircleDingle infinite 1s;
    animation-fill-mode: forwards;

    @keyframes onlineCircleDingle {
      0%, 100% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }

    //  animate={{
    //    opacity: [0, 1, 0],
    //  }}
    //  transition={{
    //    repeat: Infinity,
    //    duration: 1.25,
    //  }}

    circle {
      @apply fill-btn-primary;
    }
  }

  &.isOffline {
    svg {
      animation: none;

      circle {
        @apply fill-gray-400;
      }
    }
  }
}
