nav.appNav {
  &.headerStyle {
    flex-grow: 1;
    align-self: center;

    ul {
      display: flex;
      gap: 3em;
      padding: 0 4rem;
    }
  }

  &.footerStyle {
    // 1em = 25px
    font-weight: normal;

    ul {
      display: flex;
      flex-direction: column;
      gap: .6em;
    }
  }

  &.mobileMenuStyle {
    ul {
      display: flex;
      flex-direction: column;
      gap: .75em;
      align-items: end;
    }
  }
}
