footer.appFooter {
  @apply
    bg-footer-primary text-footer-secondary;

  font-size: 1.25rem; // 1em = 25px

  section.footerContainer {
    @apply py-[1.6em];

    article.socialMediaLinks {
      @apply border-footer-btn-font;

      padding-top: 1.6em;
      border-top-width: 1px;
      display: flex;
      gap: .8em;
    }
  }
}
