footer.appFooter {
  @apply
    bg-footer-primary text-footer-secondary;

  font-size: 1.25rem; // 1em = 25px

  section.footerContainer {
    @apply py-[1.6em];

    article.main {
      padding-bottom: 1.6em;
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: 1.6em;

      section.branding {
        display: flex;
        flex-direction: column;
        gap: 1.6em;

        h2 {
          @apply font-semibold;

          font-size: 1.4em;
        }

        button.playNowButton {
          font-size: .8em;
          font-weight: 500;

          svg path {
            @apply fill-subfooter-secondary;
          }
        }
      }

      section.navBlock {
        display: inline-flex;
        gap: 4em;
        align-items: start;

        .navGroup {
          display: flex;
          flex-direction: column;
          gap: 1em;

          header {
            display: flex;
            gap: 1em;

            h3 {
              opacity: .8;
            }

            .divider {
              @apply bg-font-light bg-opacity-[.4];

              height: 1px;
              flex-grow: 1;
              align-self: center;
              display: none;
            }
          }
        }
      }
    }

    article.socialMediaLinks {
      @apply border-footer-btn-font;

      padding-top: 1.6em;
      border-top-width: 1px;
      display: flex;
      gap: .8em;
    }
  }

  @media (max-width: 1432px) {
    font-size: clamp(18px, 1.746vw, 1.25rem);

    section.footerContainer {
      article.main {
        flex-direction: column;
        gap: 3.2em;

        section.navBlock {
          flex-direction: column;
          gap: 2.4em;
          width: 100%;

          .navGroup {
            width: 100%;

            header {
              width: 100%;

              .divider {
                display: initial;
              }
            }
          }
        }
      }
    }
  }
}
